<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie.title %> </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>    
    <h1><%= movie.title %> </h1>
    <br>
    <p>NAME: <%= movie.title %> </p>
    <p>RATING: <%= movie.rating %> </p>
    <% if (movie.genres !== null){ %>      
    <p>GENRE: <%= movie.genres.name %> </p>
    <% } %>
    <p>ACTORS:</p>
    <% for(let i= 0; i < movie.actors.length; i++){ %>
    <li> <%= movie.actors[i].first_name + " " + movie.actors[i].last_name %> </li>
    <% } %>
</body>
</html>