<!DOCTYPE html>
<html>

<head>
    <title>Agregar pelicula</title>
    <meta name="viewport" content="width=device-wid th">
    <meta charset="utf-8">
</head>

<body>
    <header>

    </header>
    <main>
        <h1>Agregar pelicula</h1>
        <section>
            <form action="/movies/create" method="POST">
                <label for="title">Titulo</label>
                <p><input type="text" name="title" id=""></p>
                <% if (locals.errors && errors.title) { %>
                    <p style="color: red"><%= errors.title.msg %></p>
                <% } %>
                <label for="rating">Rating</label>
                <p><input type="number" name="rating" id=""></p>
                <% if (locals.errors && errors.rating) { %>
                    <p style="color: red"><%= errors.rating.msg %></p>
                <% } %>
                <p>Genero</p>
                <select name="genre_id">
                    <option value="" disabled selected>Selecciona el genero</option>
                    <% genres.forEach(genre=> { %>
                        <option value="<%= genre.id %>">
                            <%= genre.name %>
                        </option>
                        <% }); %>
                </select>
                <% if (locals.errors && errors.genre_id) { %>
                    <p style="color: red"><%= errors.genre_id.msg %></p>
                <% } %>
                <br>
                <label for="awards">Premios</label>
                <p><input type="number" name="awards" id=""></p>
                <% if (locals.errors && errors.awards) { %>
                    <p style="color: red"><%= errors.awards.msg %></p>
                <% } %>
                <label for="release">Lanzamiento</label>
                <p><input type="date" name="release" id=""></p>
                <% if (locals.errors && errors.release) { %>
                    <p style="color: red"><%= errors.release.msg %></p>
                <% } %>
                <label for="length">Duración</label>
                <p><input type="number" name="length" id=""></p>
                <% if (locals.errors && errors.length) { %>
                    <p style="color: red"><%= errors.length.msg %></p>
                <% } %>
                <p> <button type="submit">Agregar</button> </p>
                <br>
                <a href="/"> Atras</a>
            </form>
        </section>
    </main>
    <footer>

    </footer>
</body>

</html>