<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie.title %> </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>    
    <h1><%= movie.title %> </h1>
    <br>
    <p>Titulo: <%= movie.title %> </p>
    <p>Rating: <%= movie.rating %> </p>
    <% if (movie.genres !== null){ %>      
    <p>Genero: <%= movie.genres.name %> </p>
    <% } %>
    <p>Actores:</p>
    <% for(let i= 0; i < movie.actors.length; i++){ %>
    <li> <%= movie.actors[i].first_name + " " + movie.actors[i].last_name %> </li>
    <% } %>
    <% if (movie.awards !== null){ %>
    <p>Premios: <%= movie.awards %> </p>
    <% } %>
    <% if (movie.release_date !== null){ %>
    <p>Lanzamiento: <%= movie.release_date %> </p>
    <% } %>
    <% if (movie.length !== null){ %>
    <p>Duración: <%= movie.length %> min</p>
    <% } %>
    <br>
    <a href="/movies/edit/<%= movie.id %>"> Editar</a>
    <br>
    <br>
    <a href="/"> Atras</a>
</body>
</html>